.alert-enter {
  opacity: 0;
}
.alert-enter-active {
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
