{
  "plugins": ["react-hooks"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn" // <--- THIS IS THE NEW RULE
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "allowImportExportEverywhere": true,
    "sourceType": "module"
  },

  "env": {
    "es6": true
  }
}
